@model IEnumerable<agriculture1.Models.Entity.adviser>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: #eeeee4;
    }
</style>

<h2>ADVISERS</h2>
<br>

<table style="background-color: #faedd8;   border-width:10px" class="table table-bordered">
    <tr>

        <th>ADVISER NAME</th>
        <th>ADVISER SURNAME </th>
        <th>ADVISER ADDRESS </th>
        <th>ADVISER PHONE </th>
        <th>ADVISER COMMENT </th>
        <th>EDIT BUTTON</th>
        <th>READ BUTTON</th>
        <th>DELETE BUTTON</th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.advisername)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.advisersurname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.adviseraddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.adviserphone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.advisercomment)
                </td>
                <td>
                    <center><h3>    <a href="/Adviser/Edit/@item.adviserıd" class="bi bi-pencil-square"></a></h3> </center>
                </td>
                <td>
                    <center><h3>     <a href="/Adviser/Details/@item.adviserıd" class="bi bi-info-circle"></a></h3> </center>
                </td>
                <td>
                    <center><h3>    <a href="/Adviser/Delete/@item.adviserıd" class="bi bi-trash3"></a></h3> </center>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    @Html.ActionLink("Add New Adviser", "Create")
</p>